* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, arial, monospace;
}

/*header*/
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: lightgrey;
}

/*capa do slider*/
#cover1 {
    background-image: url(../img/montanha2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-x: hidden;
}

#cover2 {
    background-image: url(../img/textura-verde.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#cover3 {
    background-image: url(../img/coracao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#cover3 h1 {
    font-size: 4rem;
}

.hash {
    font-family: 'Londrina Outline', cursive;
    font-size: 20rem;
    font-weight: 100;
}

/*footer*/
footer .row p a:hover{
    color:gray;
}

/*página ajude uma causa*/
#causasSociasisCapa {
    background-image: url(../img/Jesus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


#causasSociaisImg h4 {
    color: #fff;
    font-size: 0.9rem;
    position: absolute;
    bottom: -8px;
    right: 0;
    text-align: center;
    z-index: 99;
}

#causasSociaisImg li:hover {
    opacity: 0.8;
    transition: all .5s ease-out;

}

#Mateus25 {
    background-image: url(../img/texturabranca.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*página Sobre*/

#sobre {
    background-image: url(../img/mar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*página acoes*/

#acoes {
    background-image: url(../img/textura.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#acoes h5{
    text-shadow: 2px 2px 2px black;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #cover1 h1 {
        font-size: 1.1rem;
    }

    #cover1 p {
        font-size: 2.5rem;
    }

    .pensamentos {
        font-size: 0.9rem;
    }

    #cover3 h1 {
        font-size: 2.1rem;
    }

    #cover3 .hash {
        font-size: 10rem;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #cover1 h1 {
        font-size: 1.1rem;
    }

    #cover1 p {
        font-size: 2.5rem;
    }

    .pensamentos {
        font-size: 0.9rem;
    }

    #cover3 h1 {
        font-size: 2rem;
    }

    #cover3 .hash {
        font-size: 9rem;

    }


    /* Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) and (max-width: 991.98px) {
        #cover1 h1 {
            font-size: 1.5rem;
        }

        #cover1 p {
            font-size: 3.5rem;
        }
    }

    /* Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) and (max-width: 1199.98px) {}

    /* Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {}