/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

/*header*/
#cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #1859A9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
}

#cabecalho .logo {
    color: #fff;
    font-family: 'Caesar Dressing', cursive, sans-serif;
    letter-spacing: 3px;
    font-size: 1.5rem;
}

#menu ul {
    display: flex;
}

#menu ul li a {
    display: block;
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
}

#menu a:hover {
    color: gray;
    transition: 0.6s;
}

i.show_menu {
    display: none;
}

#menu ul.active {
    left: 0;
    transition: all 0.6s;
    /*classe adicionada para o menu responsivo*/
}


@media screen and (max-width:871px) {
    #cabecalho {
        flex-direction: column;
    }

    #menu ul {
        position: absolute;
        width: 100%;
        flex-direction: column;
        top: 47px;
        left: -100vw;
        text-align: center;
        background-color: #1859A9;
        transition: 0.6s;
    }

    #menu li {
        display: block;
        width: 100vw;
        border-bottom: 1px solid white;
    }

    #menu li:first-child {
        border-top: 1px solid #fff;
    }

    #menu li:hover {
        background-color: #3ba8a8;
    }

    i.show_menu {
        display: block;
        color: #fff;
        padding: 10px;
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
    }

    #cabecalho .logo {
        font-size: 1.5rem;
    }
}

/*Slider */
#i1,
#i2,
#i3,
#i4,
#i5 {
    display: none;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100vh;
    user-select: none;
    background-color: #1c1c1c;
}

.container .slide_img {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    overflow: hidden;
}

.slide_img h1 {
    font-size: 2.5rem;
    text-shadow: 4px 4px 4px black;
    font-family: 'New Rocker', cursive;
    margin-top: 30px;
}

.slide_img p {
    font-size: 1.5rem;
    text-shadow: 4px 4px 3px black;
    max-width: 1200px;
    font-family: 'New Rocker', cursive;
    margin: 5px 10px;
    max-width: 800px;
}

.cover1 h1 {
    font-family: 'Londrina Outline', cursive;
    font-size: 6rem;
}

#preciso {
    font-size: 6rem;
    padding: 0;
    margin-bottom: 70px;
    font-family: 'Londrina Outline', cursive;
}

.pensamentos {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #1859A9;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 3px 6px black;
}

.pensamentos p {
    text-shadow: 1px 1px 1px black;
}

.slide_img a {
    background-color: #1859A9;
    display: block;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-weight: bold;
}

.slide_img a:hover {
    color: gray;
    transition: 0.6s;
}

.cover1 {
    background-image: url(../imagens/montanha.jpg);
}

.cover2 {
    background-color: #aebf32;
}

.cover3 {
    background: url(../imagens/coracao.jpg);
}

.cover3 h1 {
    display: flex;
    align-items: center;
    z-index: 2;
    text-align: left;
    font-family: 'Londrina Outline', cursive;
    font-size: 4rem;
    padding-left: 10px;
}

.cover3 .hash {
    font-size: 10rem;
    font-family: 'Londrina Outline', cursive;

}


.prev,
.next {
    width: 12%;
    height: inherit;
    position: absolute;
    top: 0;
    color: rgba(244, 244, 244, .9);
    z-index: 99;
    transition: .45s;
    cursor: pointer;
    text-align: center;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

label span {
    position: relative;
    font-size: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.prev:hover,
.next:hover {
    transition: .3s;
    background-color: rgba(88, 88, 89, .8);
    color: #ffffff;
}

.container #nav_slide {
    width: 100%;
    bottom: 10%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
}

#nav_slide .dots {
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .4s;
}

#nav_slide .dots:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    transition: .25s
}

.slide_img {
    z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three {
    z-index: 9;
    animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1,
#i2:checked ~ #nav_slide #dot2,
#i3:checked ~ #nav_slide #dot3 {
    background-color: rgba(255, 255, 255, .9);
}

@keyframes scroll {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 685px) {
    .container {
        border: none;
        width: 100%;
    }

    .slide_img h1 {
        font-size: 2rem;
        margin-top: 50px;
    }

    .cover1 h1 {
        font-size: 3rem;
    }

    .slide_img p {
        font-size: 1rem;
        padding: 0 8px;
    }

    label span {
        font-size: 50pt;
    }

    .prev,
    .next {
        width: 15%;
    }

    #nav_slide .dots {
        width: 12px;
        height: 12px;
    }

    #preciso {
        font-size: 3rem;
    }

    .pensamentos {
        width: 90%;
        margin: auto;
    }
    .cover3 .hash {
        font-size: 6rem;
    }
}

/*footer*/
#rodape {
    width: 100%;
    background-color: #1859A9;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

#rodape h2 {
    color: #fff;
    margin: 5px;
}

#rodape p {
    color: #fff;
}

#rodape a {
    color: #fff;
}

#rodape a:hover {
    color: gray;
}

/*______________________________________________________________________________________________________________*/
/*pagina causas sociais*/
.causasSociais {
    background-image: url(../imagens/Jesus.jpg)
        /*capa*/
    ;

    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    overflow: hidden;
    color: #fff;
}

.causasSociais h1 {
    font-size: 4rem;
    text-shadow: 4px 4px 4px black;
    font-family: 'New Rocker', cursive;
}

.causasSociais p {
    font-size: 2rem;
    text-shadow: 4px 4px 4px black;
    font-family: 'New Rocker', cursive;
    width: 800px;
}

.Matheus25 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px;
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 4px 4px 6px gray;
    border: 5px solid gray;
    border-radius: 50px;
    background-color: #FFD477;
}

.Matheus25 h2 {
    font-size: 2rem;
    color: #085BA9;
    font-family: 'Caesar Dressing', cursive, sans-serif;
    margin-bottom: 20px;
    text-align: justify;
}

.versiculos {
    display: flex;
}

.versiculos ul {
    flex-basis: 50%;
}

.versiculos ul li {
    padding: 10px;
}

@media screen and (max-width:768px) {
    .causasSociais h1 {
        font-size: 2.2rem;
        margin-top: 100px;
    }

    .causasSociais p {
        font-size: 0.9rem;
        padding: 30px;
        width: 400px;
    }

    .causasSociaisImg ul {
        flex-direction: column;
    }

    .Matheus25 {
        margin: 10px;
    }

    .versiculos {
        flex-direction: column;
    }

    .versiculos ul {
        flex-basis: 100%;
    }
}

.causasSociaisImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.causasSociaisImg img {
    box-shadow: 5px 5px 7px black;
    border-radius: 15px;
}


.causasSociaisImg ul {
    display: flex;
    flex-wrap: wrap;
}

.causasSociaisImg ul li {
    flex: 1 1 28%;
    margin: 20px;
    position: relative;
}

.causasSociaisImg a:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.causasSociaisImg h2 {
    font-size: 2rem;
    font-family: 'Caesar Dressing', cursive, sans-serif;
    padding: 20px;
    color: #085BA9;
}

.causasSociaisImg h3 {
    position: absolute;
    bottom: 4px;
    right: 0;
    background: #085BA9;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0 0 15px 0;
}

@media (max-width:768px) {
    .causasSociaisImg h2 {
        font-size: 1.2rem;
    }

}

/*página Sobre*/
.sobrebody {
    background-image: url(../imagens/mar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

.sobre {
    max-width: 960px;
    margin: 100px auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff;

}

.sobre h1,
.sobre h2,
.sobre h3,
.sobre h4 {
    font-size: 1.5rem;
    font-family: 'Caesar Dressing', cursive, sans-serif;
    padding: 20px;
    color: #fff;
    text-shadow: 2px 2px 2px black;
}

.sobre p {
    line-height: 1.5rem;
    background-color: #2f6468;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 6px black;
}

.sobre ul {
    background-color: #2f6468;
    ;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 4px 4px 6px black;
}

.sobre li {
    padding: 5px;
    line-height: 1.5rem;
    list-style-type: disc;
    list-style-position: inside;
}

/*página ações*/
.acoes-body {
    background-image: url(../imagens/textura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

.acoes {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    margin-top: 100px;
    text-align: justify;
}

.acoes h1,
.acoes h2,
.acoes h3 {
    padding: 10px;
    font-family: 'Caesar Dressing', cursive, sans-serif;
    color: black;
    font-size: 1.6rem;
    align-self: flex-start;
}

.acoes p {
    line-height: 1.8rem;
    color: #fff;
}

.cadeira-roda,
.casa,
.sopao {
    display: flex;
    align-items: center;
    background-color: #2f6468;
    margin: 15px 0;
    box-shadow: 5px 5px 7px black;
}

.casa img {
    order: -1;
}

.acoes p,
.acoes img {
    width: 50%;
    margin: 10px;
    padding: 15px;
}

@media screen and (max-width:768px) {
    .acoes {
        width: 90%;
        margin: 90px auto;
        margin-bottom: 30px;
    }

    .cadeira-roda,
    .casa,
    .sopao {
        flex-direction: column;
    }

    .casa img {
        order: 2;
    }

    .acoes p,
    .acoes img {
        width: 100%;
        padding: 20px;

    }

    .acoes h1,
    .acoes h2,
    .acoes h3 {
        padding: 10px;
        font-family: 'Caesar Dressing', cursive, sans-serif;
        font-size: 1.2rem;

    }
}